<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB04HKnxVn3m2tb775KsHSGWq6raRGI9ek</string>
	<key>GCM_SENDER_ID</key>
	<string>367196828563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sidneyokine.sidneysGithubExplorer</string>
	<key>PROJECT_ID</key>
	<string>testingflutterprojects</string>
	<key>STORAGE_BUCKET</key>
	<string>testingflutterprojects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367196828563:ios:fb4a6a75bc97a0500bee66</string>
</dict>
</plist>